@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
.navbar-toggler {
    width: 20px;
    height: 20px;
    position: relative;
    transition: .5s ease-in-out;
}
body{
    height: 100vh;
    scroll-behavior: smooth;
}
.containert{
    position: relative;
    margin-top: 5%;
    justify-content: center;
    align-items: center;
    display: flex;
}
.works{
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 28px;
    font-weight: bold;
    border-bottom: 3px solid;
    width: 34px;
    justify-content: space-around;
}

    

.textos{
    justify-content: center;
    align-items: center;
    margin-left: 23px;

    
}


i{
    font-size: 20px;
    display: block;
    float: left;
    left: 174px;
    top: 6px;
    
    cursor: pointer;
    position: absolute;

}
h1{
    text-align: center;
    font-size: 3em;
}
.gtu{
    display: block;
    text-decoration: none;
    margin-top: 12p;
}
  #hola{
    font-size: 14px;
    font-weight: bold;

    
}
.hola{
    border: none;
    background: none;
    outline: none;
    color: #6486f7;
    font-weight: bold;
    margin-top: 72px;
}
.caja{
    border: 1px solid;
    width: 300px;
    display: inline-block;
    height: 300px;
    margin: auto;
 
}
span{
    z-index: 3;
    
    justify-content: center;
    align-items: center;
    display: flex;
    font-weight: 100;
    font-size: 12px;
}
.port{
    justify-content: center;
    align-items: center;
    display: flex;
    margin-top: 54px;
    font-weight: 600;
    font-size: 34px;
}

body{
    font-family: 'Poppins', sans-serif;
}
body .navbar-collapse{
   
    justify-content: center;
    align-items: center;
    display: block;
    color: #252525;
    font-weight: 700;
    
    

}


.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
    border: 0;
}

.navbar-toggler span {
    margin: 0;
    padding: 0;
}

.toggler-icon {
    display: block;
    position: absolute;
    height: 1px;
    width: 100%;
    background: #252525;
    border-radius: 1px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
}
.cafe{
    position: absolute;
    margin-top: 219px;
    height: 170px;
    justify-content: center;
    align-items: center;
    display: flex;

    
  
}
.inv{
    border: none;
    border-radius: 9px;
    display: inline-block;
    padding: 10px 0;
    width: 160px;
    text-align: center;
    text-decoration: none;
    margin-top: 590px;
    position: absolute;
    color: #ffff;
    background: #6486f7;

}
.inv:hover{
    color: #ffff;
}
.container-fluidd{
    
    justify-content: center;
    margin-top: 225px;

    
}
.btn-primary{
    border: none;
    background: #6486f7;
    border-radius: 11px;
}
.ert{
    height: 160px;
    color: #252525;
}

.btn-primary:hover{
    background: #6486f7;
    
}
.insta{
    border: none;
    text-decoration: dashed;
    background: #fff;
    margin-top: 12px;
    color: #252525;
}
.modal-content{
    border-radius: 20px;
    color: #252525;
}
.mon{
    border: none;
    
    margin-top: 12px;
    text-decoration: none;
    color: #252525;
    
}

.middle-bar {
    margin-top: 0px;
}
.luna{
   position: static;
   height: 30px;
   display: flex;
   margin-top: 11px;
   margin-left: 63px;
   float: left;
   
   

    
}
@media screen and(min-width:940px) {
    .caja{
        float: left;
        position: absolute;
    display: flex;
        flex-wrap: wrap;
    }
    
}
    

/* when navigation is clicked */

.navbar-toggler .top-bar {
    margin-top: 0px;
    transform: rotate(135deg);
}

.navbar-toggler .middle-bar {
    opacity: 0;
    filter: alpha(opacity=0);
}

.navbar-toggler .bottom-bar {
    margin-top: 0px;
    transform: rotate(-135deg);
}

/* State when the navbar is collapsed */

.navbar-toggler.collapsed .top-bar {
    margin-top: -20px;
    transform: rotate(0deg);
}

.navbar-toggler.collapsed .middle-bar {
    opacity: 1;
    filter: alpha(opacity=100);
}

.navbar-toggler.collapsed .bottom-bar {
    margin-top: 20px;
    transform: rotate(0deg);
}

/* Color of 3 lines */

